<main>
  <div class="container-fluid">
    <div class="card mb-4" style="margin-top: 25px">
      <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        List of Companies
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Name</th>
                <th>Employees</th>
                <th>Address</th>
                <th>CompanyActive</th>
                <th>Total Branch</th>
                <th>Actions</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let comp of companydata">
                <td>{{ comp.id }}</td>
                <td>{{ comp.email }}</td>
                <td>{{ comp.name }}</td>
                <td>{{ comp.totalEmployee }}</td>
                <td>{{ comp.address }}</td>
                <td>{{ comp.isCompanyActive }}</td>
                <td>{{ comp.totalBranch }}</td>

                <td>
                  <a class="btn-sm btn-success" (click)="editCompany(comp)"
                    ><i class="fas fa-edit"></i></a
                  >&nbsp;
                  <a class="btn-sm btn-danger" (click)="deleteCompany(comp)"
                    ><i class="fas fa-trash-alt"></i></a
                  >&nbsp;
                  <a class="btn-sm btn-primary" (click)="viewCompany(comp)"
                    ><i class="fas fa-info-circle"></i
                  ></a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th rowspan="1" colspan="1">Id</th>
                <th rowspan="1" colspan="1">Email</th>
                <th rowspan="1" colspan="1">Name</th>
                <th rowspan="1" colspan="1">Employees</th>
                <th rowspan="1" colspan="1">Address</th>
                <th rowspan="1" colspan="1">CompanyActive</th>
                <th rowspan="1" colspan="1">Total Branch</th>
                <th rowspan="1" colspan="1">Actions</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
